@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* Start Global Rules */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  caret-color: transparent;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: initial;
}

body {
  font-family: "Inter", sans-serif;
}

img,
picture,
svg,
video {
  max-width: 100%;
  display: block;
}

input,
textarea,
button,
select {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: initial;
}

.container {
  padding: 0 1rem;
  margin-inline: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1560px;
  }
}

@media (min-width: 1800px) {
  .container {
    max-width: 1720px;
  }
}

/* End Global Rules */

/* Start Components */

/* End Components */

body {
  background-color: var(--main-color);
  color: var(--font-color);
}
li a {
  color: white;
}

